@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
    --color1: yellow;
    --color2: rgb(67, 67, 163);
    --color3: rgb(243, 245, 130);
    --color4: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", cursive;
    box-sizing: border-box;
}

a:visited {
    color: var(--color2);
}

body {
    font-size: 15px;
    width: 100%;
}

.alert {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
    color: var(--color2);
    font-weight: bold;
    font-size: 1em;
}

.couvercle {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    background-color: var(--color3);
    overflow: hidden;
    padding: 20px;
}

.container .alert-success{
    background-color: 	#54ac68;
    border: 2px solid #1e982c;
}

.container button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    width: 100%;
    background-color: var(--color2);
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.3s;
    text-transform: uppercase;
}

.container form button:hover {
    transform: translateY(5px);
    box-shadow: none;
}

.container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    height: 100%;
}

.container form .form_head {
    width: 100%;
}

.container form .form_head h1 {
    font-size: 2em;
    font-weight: bold;
}

.container form .form_body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.container form .form_body .alert-error {
    background-color: #ff000073;
    border: 2px solid red;
}

.container form .form_body .form_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 2.2em;
    transition: 0.3s;
}

.container form .form_container .input-box {
    position: relative;
    border-bottom: 2px solid var(--color2);
}

.container form .form_container .input-box input {
    width: 100%;
    height: 40px;
    font-size: 1em;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color2);
}

.container form .form_container .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: all 0.3s;
    color: var(--color2);
    font-weight: bold;
}

.container form .form_container .input-box input:focus ~ label,
.container form .form_container .input-box input:valid ~ label {
    top: -5px;
    font-size: 0.8em;
}

.container form .form_container .input-box img {
    position: absolute;
    visibility: hidden;
    right: 5px;
    transition: visibility 0.3s;
    cursor: pointer;
}

.container form .form_container .input-box input:valid ~ img {
    visibility: visible;
}

@media screen and (min-width: 520px) {
    .couvercle {
        padding: 25px 0;
        align-items: center;
    }
    .container {
        width: 500px;
        min-width: 400px;
        height: 400px;
        border-radius: 5px;
        box-shadow: 10px 10px 1px var(--color2);
    }
}
